.image-wrap {
  width: 512px;
  height: 512px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #171717;
  background-color: #0f0f0f;
  margin-bottom: 1em;

  &__image {
    display: none;

    &--loaded {
      display: block;
    }
  }
}
